* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar ul li a {
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  font-weight: 200;
  margin-left: 50px;
}

.navbar li {
  list-style: none;
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.d-flex {
  display: flex;
}

.po-ab {
  position: absolute;
  left: -200px;
  top: -80px;
}

.po-rel {
  position: relative;
}

.po-ab1 {
  position: absolute;
  left: 200px;
  /* right: 50px; */
}

.sec-1 h1, p {
  background-color: #ffffff;
}

/* ---------------------------------------------------------sec-1 complete---------------------------------------------------------------------------------------------------- */

.sec-2 {
  background-color: #ffffff;
}

.sec-2 h3 {
    font-size: 65px;
  color: #333333;
  font-weight: 400;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin-top: 100px;
}

.sec-2 p {
    font-size: 25px;
  color: #333333;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
  width: 789px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 50px;
}

.justy-evenly {
    justify-content: space-evenly;
}

.circle h5 {
    font-size: 42px;
    color: #333333;
    font-weight: 400;
  font-family: "Grand Hotel";
  text-align: center;
  
}

.circle p {
    width: 200px;
    font-size: 17px;
    color: #333333;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
}

/* ---------------------------------------------------------sec-2 complete---------------------------------------------------------------------------------------------------- */


.po-ab2{
    position: relative;
    top: 200px;
    left: -150px;
}

.po-ab3{
    position: absolute;
    top: 200px;
    left: 200px;
}

.button{
    color: yellow;
}

.po-ab4{
    right: 100px;
    top: 0px;
}
/* ---------------------------------------------------------sec-3 complete---------------------------------------------------------------------------------------------------- */


.sec-4{
    /* background-color: #303030; */
    color: yellow;
}