* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  background-color: pink;
}
.nav ul li a {
  text-decoration: none;
  color: black;
}

.nav li {
  list-style: none;
  margin-left: 35px;
  padding-right: 50px;
}
.d-flex {
  display: flex;
}

.jsc {
  justify-content: space-between;
}
.alc {
  align-items: center;
}

.logo-img {
  /* margin:10px 0; */
  padding: 10px 45px;
}
.sec-one {
  background-image: url(../IMAGE/nav_image.png);
  background-repeat: no-repeat;
}

.col-40 {
  width: 40%;
}
.col-60 {
  width: 60%;
}
.sec-one-text h1 {
  font-size: 125px;
  color: yellow;
  font-family: "Grand Hotel";
  padding: 50px 0 11px 0;
}
.sec-one-text p {
  width: 80%;
  font-size: 40px;
  color: white;
  padding: 5px 0 20px 0;
}
.sec-one-text button {
  /* width: 40%; */
  font-size: 20px;
  padding: 10px 15px;
  margin: 5px 0 100px 0;
  border-radius: 50px;
  background-color: yellow;
}
.sec-one-text {
  padding: 0 0 100px 50px;
}
.sec-2 {
  background-color: #ffffff;
}

.sec-2 h3 {
  font-size: 65px;
  color: #333333;
  font-weight: 400;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin-top: 100px;
}

.sec-2 p {
  font-size: 25px;
  color: #333333;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
  width: 789px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 50px;
}

.justy-evenly {
  justify-content: space-evenly;
}

.circle h5 {
  font-size: 42px;
  color: #333333;
  font-weight: 400;
  font-family: "Grand Hotel";
  text-align: center;
}

.circle p {
  width: 200px;
  font-size: 17px;
  color: #333333;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
}

/* ---------------------------------------------------------sec-2 complete---------------------------------------------------------------------------------------------------- */

.sec-three-img {
  width: 50px;
  height: 50px;
}
.po-ab {
  position: absolute;
}
.po-rel {
  position: relative;
}
/* ---------------------------------------------------------sec-3 complete---------------------------------------------------------------------------------------------------- */

.sec-four {
  background-color: #303030;
  padding: 50px 0 100px 0;
}

.circle1 {
  width: 150px;
  height: 150px;
  border: 3px solid #fff;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.3s ease;
}

.sec-four h3 {
  font-size: 100px;
  color: #ffc200;
  font-weight: 400;
  font-family: "Grand Hotel";
  text-align: center;
  padding-top: 27px;
}

.sec-four p {
  width: 600px;
  font-size: 25px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
  margin: 0 auto;
  padding: 20px 0 20px 0;
}

.circle1 h4 {
  font-size: 51px;
  color: #ffc200;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
}

.circle1 span {
  font-size: 15px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
}

.jsc-center{
  justify-content: center;
}
.circle1{
  margin-left: 50px;
}

.pd{
  padding: 70px 0 100px 0;
}

.po-one{
  top: 200px;
  left: 100px;
}
.po-two{
  bottom: 50px;
  left: 500px;
}
  /* ---------------------------------------------------------sec-4 complete---------------------------------------------------------------------------------------------------- */